body {
  background: #c0c0c0;
  font-family: "MS Sans Serif", Arial, sans-serif;
}
.window {
  background: #c0c0c0;
  padding: 4px;
  max-width: 900px;
  margin: 20px auto;
  position: relative;
}
.preview {
  background: #c0c0c0;
  padding: 4px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
#preview-img {
  max-width: 100%; /* 親の箱の幅を超えないようにする */
  max-height: 500px; /* 高くなりすぎないよう、上限を決める（数値は微調整OKです） */
  object-fit: contain; /* 縦横比を崩さずに箱に収める！ */
}
.content {
  display: flex;
  gap: 20px;
}
.panel {
  background: #c0c0c0;
  padding: 8px;
  margin-bottom: 20px;
}
.left-column {
  flex: 0 0 280px;
}
.sunken {
  border-top: 2px solid #808080;
  border-left: 2px solid #808080;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.raised {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
}
button {
  background: #c0c0c0;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
  padding: 4px 8px;
  margin-top: 8px;
}
button:active {
  border-top: 2px solid #808080;
  border-left: 2px solid #808080;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000080;
  color: white;
  font-weight: 900px;
  padding: 4px 6px;
}
.menu-bar {
  padding: 3px 6px;
  display: flex;
  gap: 14px;
  border-bottom: 1px solid #808080;
  align-items: center;
}
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}
.upload-group {
  margin-left: auto;
}

.progress-window {
  max-width: 450px;
  display: none;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#cancel-button {
  max-width: 200px;
  align-self: center;
}
#blue-rectangular {
  width: 300px;
  margin-top: 5px;
  display: flex;
  gap: 2px;
}
.rectangular-box {
  background-color: blue;
  width: 15px;
  height: 20px;
}
#top-img {
  height: 150px;
  width: 200px;
  object-fit: contain;
}
#bottom-img {
  height: 150px;
  width: 200px;
  object-fit: contain;
}
